@charset "utf-8";

/* CSS Document */
body{
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin: 0;
}

.container {
	width: 1360px;
	margin-left: auto;
	margin-right: auto;
	height: 1870px;
	background-color: #FFFFFF;
}

/*标题菜单栏*/
/* Navigation */
header {
	width: 100%;
	height: 130px;
	background-image: url(./backFigure_top.jpeg);
	border-bottom: 1px solid #2C9AB7;
}
.logo {
	color: #fff;
	font-family:Consolas;
	line-height: 22px;
	font-weight:400;
	text-align: left;
	width: 10%;
	float: left;
	margin-top: 30px;
	margin-left: 80px;
	letter-spacing: 4px;
}
header nav {
	float: right;
	width: 57%;
	text-align: right;
	margin-right: 25px;
}

header nav ul {
	list-style: none;
	float: left;
}

nav ul li {
	float: left;
	font-family:Consolas;
	font-size: 18px;
	text-align: center;
	margin-right: 35px;
	margin-top: 70px;
	letter-spacing: 1px;
	font-weight: 300;
	transition: all 0.3s linear;
}
nav ul .cur a{
	color: #fff; 
/*	background-color: rgba(97,215,212,0.32);*/
	padding-bottom: 18px; 
	border-bottom: 5px solid #fff;
/*	text-decoration:underline;*/
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}


.demo {
	height: 780px; font-family:"华文细黑"; 
	border-bottom: solid 1px rgba(138,165,164,0.3); }
.demo .float{	
	width: 25%; margin-left: 150px; margin-top: 30px;}
/*.demo ul{margin-top: -350px; margin-left: 300px;}*/
.demo .exp1{
	width: 16%;  height: 220px;
	position: absolute; margin-top: 80px; margin-left: 150px;}
.demo .exp2{
	width: 15%;  height: 220px;
	position: absolute; margin-top: 80px; margin-left: 470px;}
.demo h2{ 
	font-size: 20px; width: 10%; font-family:"华文细黑"; 
	margin-left: 100px; margin-top: 50px; }
.demo .lt{ margin-left: 100px; }
.demo .rt{ margin-left: 600px; margin-top: -44px; }
.demo h3{ 
	position: absolute;  margin-left:650px; margin-top:30px; font-weight: 400;
	font-size: 15px; font-family:"华文细黑"; 
}
.demo .w1{position: absolute;  margin-left:660px; margin-top: -60px; font-size: 11px; font-weight: 100;}
.demo .w2{position: absolute;  margin-left:990px;
margin-top: -60px; font-size: 11px; font-weight: 100;}
.demo .w3{position: absolute;  margin-left:850px;
margin-top: -30px; font-size: 11px; font-weight: 100;}
.demo p{
	width: 32%; text-align: justify;
	font-family:"华文细黑"; font-size: 14px;
	margin-left: 100px; margin-top: 30px;}
.demo .exp3{
	width: 45%; height: 300px; position: absolute; 
	margin-top: -340px; margin-left: 600px;}


.blanks{
	position: absolute;
	margin-left: 100px;
	margin-top: 50px;
}
.blanks h2{
	font-size: 20px; 
	font-family:"华文细黑";
	margin-bottom: 60px;
}
.blanks ul {
	list-style: none;
	font-family:"华文细黑";
	margin-left: 10px;
	margin-top: -15px;
}
.blanks ul li{
	margin-top: 30px;
}
.blanks ul li .select{
	width: 203px;
	height: 28px;
	border: 1px solid #000000;
}
.blanks ul li input{
	width: 200px;
	height: 23px;
	border: 1px solid #000000;
}
.uploads{
	position: absolute;
	margin-top: 400px;
	margin-left: 270px;
	width: 80px;
	height: 25px;
}
.graphs {
	position: absolute;
	margin-left: 600px;
	margin-top: 50px;
	width: 800px;
}
.graphs h2{
	font-size: 20px; 
	font-family:"华文细黑";
	margin-bottom: 30px;
	margin-left: 0px;
}
.p1,.p2,.p3{
	width: 240px; height: 220px;
	float: left;
	margin-right: 50px; margin-left: 30px;
	margin-top: 30px;
}

.text {
	float: left;
	width: 900px;
}
.text a {
	margin-left: 50px;
	margin-right: 150px;
}
.point {
	position: absolute;
	margin-left: 580px;
	margin-top: 400px;
}

.test_mask{
	margin-top: 40px;
	width: 650px;
	height: 270px;
	border: 1px solid rgba(133, 133, 133,0.1);
}
.mask{
	width: 100%;
	height: 100%;
/*	background-color: rgba(242,242,242, 0.5);*/
	background: url(./gene.gif);
	background-position: 50% 30%;
	opacity: 0.5;
	position: fixed;
	left: 0;
	top: 0;
	text-align: center;
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
  	align-items: center;
    -webkit-justify-content: center;
  	justify-content: center;
}
/*
.mask>.graphs{
	border: 1px solid #D0D0D0;
	font-size: 12px;
	padding: 5px 15px;
	max-width: 150px;
	color: #494A5F;
	background: url(./giphy.gif);
	opacity: 0.3;
	padding-left: 25px;
	background-color: #FFFFFF;
	word-wrap: break-word;
	margin: 0 auto;
}
*/

.scroll-off{
	position:fixed;
	overflow-y:hidden
}

h5{
	font-weight: 200; font-family: "微软雅黑"; color:#2C9AB7;
	margin-left: 15px; margin-top: 40px;}
h5 li{list-style:disc; height: 0px;}
